.searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    /* arriba | derecha | abajo | izquierda */
    margin: 5px 20px 20px 10px;
}

.searchBar input {
    width: 300px;
    height: 35px;
    margin-bottom: 30px;
}

.searchBar button {
    border-radius: 5px ;
    height: 35px;
    width: fit-content;
}
