.navBar {
    display: inline;
    justify-content: center;
    color: #4BC6E8;
}

button {
    width: 80px;
    height: 35px;
}

.menu1{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    font-size: 1.5em;
}

.menu1 a {
    position: relative;
    color: #4BC6E8;
    font-weight: bolder;
}

.menu1 a::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #9925be, #be4d25, #49be25);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
}

.menu1 a:hover::before{
    transform: scaleX(1);

}

.menu2{
    display: flex;
    justify-content: center;
    color: #4BC6E8;
    font-weight: bolder;
}
